body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to right, #232526, #414345);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

a {
  color: rgb(211, 203, 203)
}

a:hover {
  color: rgb(139, 42, 42)
}